<% @tasks.each do |task| %>
  <h2> <%= check_box "task", "completed", {:checked => task.completed, :disabled => true}%>
       <%= link_to task.title, task %></h2>
       <%= link_to 'Delete', task_path(task), method: :delete %>
<% end %>
<%= link_to 'new', new_task_path  %>
